.header
  .header__box
    .header__box__main
      %h1.icon
        %a{:href => "/"}
          %img{:src => "/images/logo.png"}/
      .header-search
        %form{"accept-charset" => "UTF-8", :action => "#", :method => "get",class:'form'}
          %input{:name => "utf8", :type => "hidden", :value => "✓",class: 'form__input'}/
          %input.header-search-input{:name => "key", :placeholder => "キーワードから探す"}/
          %button{:type => "submit",class: 'submit'}
            .header-search__icon
              %img{:src => "/images/icon-search.png"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "MFdLfFtvpzKoiFo/KJTV2jmpZZrNvP5fqDn7VRwM4P1+h07wG0uDUotK6nQvpYOdWB61GXFUiXDUDjSK/WIGZg=="}/
      %ul.resultLists
    .header-menu
      %ul.header-menu__left
        %li.header-menu__left__categories
          %a#catBtn{:href => "#"} 
            = "カテゴリー"
          .header-menu__left__categories__tree
            %ul.categoryTree

        %li.header-menu__brand
          %li.header-menu__brand__box
            %a{:href => "#"} ブランド
            %ul.header-menu__brand__box__list
              %li
                %a{:href => "#"} シャネル
              %li
                %a{:href => "#"} ナイキ
              %li
                %a{:href => "#"} ルイヴィトン
              %li
                %a{:href => "#"} シュプリーム
              %li
                %a{:href => "#"} アディダス
              %li
                %a{:href => "#"} ブランド一覧
      %ul.header-menu__right
        %li.header-menu__right-login
          %a{:href => "#"} 
            = "ログイン"
        %li.header-menu__right-new
          %a{:href => "#"} 
            = "新規会員登録"