.account_header {
  height: 20%;
  display: table;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .account_header__logo {
    width:185px;
  }
  a {
    margin: 0px 8px 0px 0px;
  }
}