$red: #e62017;
$gray: rgb(245, 245, 245);

*{
  margin: 0px;
  padding: 0px;
  }
  
.box{
  background-color:$gray;
  margin:0;
  height:2500px;
  height: 100%;
  }

.body{
  background-color:#fff;
  width:700px;
  margin:0 auto;
  .contents{
    font-size:20px;

    &__header{
      height:120px;
      width:calc(100% );
      border-bottom: 2px solid $gray ;
      display:flex;
      justify-content: center;
      align-items: center;
      padding:40px ;
      &__text{}
    }
    &__image{
      padding:40px ;
      width:calc(100%);
      min-height: 300px;
      height: auto;
      background-color:#fff;
      border-bottom: 1px solid $gray ;
      &__box{
      .contents__image__box__container {
        display: flex;
        margin: 16px auto 0;
        min-height: 158px;
        height: auto ;
        &__drop-box {
          width: 620px;
          background: #F5F5F5;
          border: 1px dashed #ccc;
          &-file {
            .form-mask {
              display: inline-grid;
              img{
                height: 100px;
                width: 100px;
                margin: 0px 3px;
                .delete_img {
                }
              }
              .hiddon-new {
              }
              input {
                display: none;
              }
            }
          }
          #image-box {
            display: flex;
            flex-wrap: wrap;
          }
          #previews {
            width: 100%;
            img {
              padding-left: 18px;
              padding-top: 20px;
            }
          }
          .js-file_group {
            padding-left: 16px;
            padding-top: 10px;
            font-size: 13px;
            width: 46%;
            
          }
          .js-remove {
            display: inline-block;
            max-width: 180px;
            text-align: left;
            border: 1px solid black;
            font-size: 12px;
            color: black;
            text-decoration: none;
            font-weight: bold;
            padding: 1px 8px;
            border-radius: 4px;
            transition: .4s;
            &:hover {
              background-color: black;
              border-color: black;
              color: #FFF;
            }
          }
        }
      }        
        &__comment{
          display:flex;
          align-items: center;
          &__text{
            font-weight:bold;
            font-size: 14px;
            color: #333333;
          }
          &__caution{
            font-size:12px;
            color:#fff;
            background-color:$red;
            margin-left:10px;
            padding: 0 4px;
            border-radius:2px;
          }
        }
        p{
          font-size:14px;
          margin:16px 0;
        }
        // &__area{
        //   width:100%;
        //   height:150px;
        //   background-color: $gray;
        //   align-items: center;
        //   line-height: 150px;
        //   margin: -8px, -4px, 0px;
        // }
      }
    }


    &__product{
      padding:40px ;
      width:calc(100%);
      height:300px;
      background-color:#fff;
      border-bottom: 1px solid $gray ;
      position:relative;
      &__area{
        
        &__name{
          display:flex;
          align-items: center;
          margin:15px 0;
          &__text{
            font-weight:bold;
            font-size: 14px;
            color: #333333;
          }
          &__caution{
            font-size:12px;
            color:#fff;
            background-color:$red;
            margin-left:10px;
            padding: 0 4px;
            border-radius:2px;
          }
          
        }
        &__form_text_field{
          height:30px;
          width:calc(100%);
          border:1px solid $gray;
          font-size: 14px;
        }
        &__form_text_area {
          height:100px;
          width:calc(100%);
          border:1px solid $gray;
          font-size: 14px;
        }
        &__form_select {

          select#product_condition {
          }

        }
      }
      &__counter{
        position:absolute;
        bottom:40px;
        right:40px;
        color:gray;
        font-size:12px;
      }
      
    }
    &__detail{
      padding:40px ;
      width:calc(100%);
      height:380px;
      background-color:#fff;
      border-bottom: 1px solid $gray ;
      font-size:13px;
      color:gray;
      &__box{
        &__question{
          display: flex;
          align-items: center;
          &__icon{
            color:rgb(62, 180, 219);
            margin-left:5px;
            cursor: pointer;
          }
        }
        &__text{

        }
        &__set{
          &__box{
            display:flex;
            align-items: center;
            margin:15px 0;
            &__text{
              font-weight:bold;
              font-size: 14px;
              color: #333333;
            }
            &__coution{
              font-size:12px;
                color:#fff;
                background-color:$red;
                margin-left:10px;
                padding: 0 4px;
                border-radius:2px;
            }
            &__nini{
              background-color:gray;
              font-size:12px;
              color:#fff;
              background-color:rgb(185, 179, 179);
              margin-left:10px;
              padding: 0 4px;
              border-radius:2px;
            }
          }
          &__form{
            &__detail {
              // color:black;
              background-color: #fff;
              // min-height:48px;
              padding: 5px;
              width:100%;
              margin-top:10px;
              // font-size: 20px;
              border:1px solid rgb(177, 177, 177);
              // border-radius: 4px;
            }
            // color:black;
            // background-color: #fff;
            // min-height:48px;
            width:100%;
            margin-top:10px;
            font-size: 16px;
            // border:1px solid rgb(177, 177, 177);
            // border-radius: 4px;
          }
        }
      }
    }

    &__price{
      padding:40px ;
      width:calc(100%);
      height:558px;
      background-color:#fff;
      font-size:13px;
      color:gray;
      &__text{
        display:flex;
          align-items: center;
        &__comment{
          font-weight: bold;
        }
        &__icon{
          color:rgb(62, 180, 219);
            margin-left:5px;
            cursor: pointer;
        }
      }
      &__value{
        font-size:14px;
        margin-bottom:30px;
        &__first{
          display:flex;
          align-items: center;
          justify-content: space-between;
          &__left{
            &__box{
              display:flex;
              align-items: center;
              margin:15px 0;

              &__text{
                font-weight:bold;
                font-size: 14px;
                color: #333333;
              }
              &__coution{
                font-size:12px;
                color:#fff;
                background-color:$red;
                margin-left:10px;
                padding: 0 4px;
                border-radius:2px;
              }
            }
          }
          &__right{
            &__input{
              width:258px;
              height: 40px;
              padding:0 10px;
              font-size: 20px;
              
            }
          }
        }
        &__second{
          color:rgba(0, 0, 0, 0.589);
          height:70px;
          width:100%;
          line-height: 48px;
          padding:12px 0;
          border-bottom: 1px solid $gray ;
          &__left{
            
          }
          &__right{}
        }
        &__third{
          color:rgba(0, 0, 0, 0.589);
          height:70px;
          width:80%;
          line-height: 48px;
          &__left{
            padding-bottom: 12px;
          }
          &__right{}
        }
      }
      &__submit{
        height:140px;
        width:90%;
        margin: 0 auto;


        &__throw {

          
          &__btn{
            width:100%;
            height:48px;
            background-color: $red;
            color:white;
            font-weight: bold;
            margin-bottom:30px;
            font-size:17px;
            line-height:17px;
            text-align: center;
            border-radius: 10px;
            padding: 14px 24px;
            margin-bottom: 20px;
          }
        }
        &__back{
          a{
            display: block;
            width:100%;
            height:48px;
            background-color: $gray;
            color:black;
            font-weight: bold;
            font-size:17px;
            line-height:17px;
            border-radius: 10px;
            text-align: center;
            padding: 14px 24px;
            text-decoration: none;
          }
        }
      }
      p{
        font-size:12px;
      }
    }
  }
}
