-# .main__pickup__box__items__item
-#   %a{:href => product_path(brand)}
-#     %figure.main__pickup__box__items__item__img
-#       = image_tag brand.images[0].image.url
-#   .main__pickup__box__items__item__content
-#     %h3.main__pickup__box__items__item__content__name
-#       = brand.name
-#     .main__pickup__box__items__item__content__detail
-#       %ul
-#         %li
-#           = brand.price
-#         %li
-#           = icon("fas","star")
-#           = "0"
-#       %p
-#         = "(税込)"