// マイページ
.mypage__body{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo';
  font-size: 14px;
  height: 100%;
}

/*****NAV*****/
nav{
  height: 49px;
  border-top: 1px solid $gray;
  margin-bottom: 5px;
  background-color:#fff;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.16);
}

nav ul{
  height: 16px;
  width:1020px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  li {
    line-height: 16px;
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    i {
      margin: 0px 8px;
    }
    p {
      font-weight: bold;
    }
  }
}

/*****Main*****/
.mypage__main {
  margin: 40px auto 0;
  width: 1020px;
  height: 1290px;
  &__right {
    width: 700px;
    float: right;
    .mypage__icon {
      background: $aqua;
      height: 200px;
      padding: 20px;
      position: relative;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        figure {
          overflow: hidden;
          height: 60px;
          width: 60px;
          margin: 0 auto; 
          border-radius: 50px;
        }
        h2 {
          margin-top: 8px;
        }
        .mypage__number {
          display: flex;
          justify-content: center;
          margin-top: 8px;
          .evaluation {
            span {
              margin-left: 8px;
            }
          }
          .sell {
            margin-left: 16px;
            span {
              margin-left: 8px;
            }
          }
        }
      }
    }
      .mypage__information {
          a {
            background-color: #fff;
            text-decoration: none;
            color: black;
          }
        &__tabs {
          display: flex;
          font-size: 16px;
          background-color: #fff;
          .tabs__left {
            height: 72px;
            line-height: 72px;
            text-align: center;
            width: 50%;
            border-top: 2px solid #ea325d;
          }
          .tabs__right {
            background-color: #eee;
            height: 72px;
            line-height: 72px;
            text-align: center;
            width: 50%;
          }
        }
        &__contents {
          ul {
            li {
              border-bottom: 1px solid #eee;
              display: flex;
              color: black;
              a {
                width: 100%;
                display: block;
                padding: 16px;
                .figure {
                  float: left;
                  height: 48px;
                  width: 48px;
                }
                h3 {
                  float: left;
                  line-height: 48px;
                  margin: 0 20px;
                }
                i {
                  float: right;
                }
              }
              .mypage__information__all {
                .mypage__information__contents__all {
                  background-color: #eee;
                  height: 48px;
                  line-height: 48px;
                  width: 100%;
                  text-align: center;
                }
              }
            }
          }
        }
        &__buying {
          margin-top: 40px;
          h3 {
            background-color: #fff;
            height: 72px;
            line-height: 72px;
            padding: 0 16px;
            font-weight: bold;
          }
        .buying__record {
          li {
            border-bottom: 1px solid #eee;
            position: relative;
            color: black;
            min-height: 72px;
            line-height: 72px;
            h6 {
              font-weight: bold;
            }
          }
        }
        .buying__record__detail {
            height: 236px;
            li {
              position: relative;
              color: black;
              line-height: 236px;
              display: block;
              .figure {
                background-color: rgb(145, 145, 145);
                text-align: center;
              }
            }
          }
      }
    }
  }
  &__left {
    background-color: #fff;
    width: 280px;
    float: left;
    margin-right: 40px;
    ul {
      li {
        border-bottom: 1px solid #eee;
        position: relative;
        display: flex;
        color: black;
        .mypage__bar {
          background-color: #eee;
          h3 {
            font-weight: bold;
          }
        }
        a {
          color: black;
          text-decoration: none;
          width: 100%;
          padding: 16px;
        }
        h3 {
          float: left;
          line-height: 16px;
        }
        i {
          float: right;
        }
      }
      li:hover {
          background-color:$gray;
      }
    }
    &__middle, .mypage__main__left__bottom {
      h5 {
        background-color: $gray;
        font-weight: bold;
        padding-top: 40px;
        font-size: 16px;
      }
    }
  }
}