// 新規会員登録トップ

.account_body {
  background-color: rgb(245, 245, 245);
  height: 100%;
  width: 100vw;
  font-family: "Source Sans Pro", "Helvetica", "Arial", "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", "sans-serif";
  .account_header {
    height: 128px;
    display: table;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin: 0px 8px 0px 0px;
    }
  }
}

.camera {
  background-color: #3ccace;
  height: 120px;
  width: 120px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
  &_sell {
    padding-top: 15px;
    color: #fff;
    text-align: center;
  }
  &_btn {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }
}
